/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  @font-face {
    font-family: quicksand;
    src: url(./assets/Quicksand/Quicksand-VariableFont_wght.ttf);
  }

  * {
    font-family: quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  /*  MAIN CONTENT */

  body {
      display: grid;
      grid-template-rows: 1fr;
      font-family: quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 600;
      /* background-image: url(./assets/josh-kahen-KL9IanHzSE4-unsplash.jpg); */
      background: black;
      min-width: fit-content;
  }

  #main-content {
      display: grid;
      width: 90vw;
      height: 85vh;
      align-self: center;
      justify-self: center;
      border-radius: 100px;
      grid-template-rows: 0.1fr 0.5fr 0.7fr;
      background-image: url(./assets/josh-kahen-KL9IanHzSE4-unsplash.jpg);
      border: 2px solid wheat;
      box-shadow: -10px 10px 10px rgba(245, 222, 179, 0.575);
      min-width: fit-content;
      min-height: fit-content;
  }

  #main-content > div {
    display: grid;
  }

/* SEARCHBAR */

.searchbox-div {
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  min-height: fit-content;
}
.searchbox-div > form {
  min-width: 1%;
}
#main-content > div.searchbox-div > form > input[type=submit]:nth-child(2) {
  background-color: black;
  color: white;
  min-width: 5vw;
  font-size: max(14px, 1.9vmin);
  margin-left: 10px;
}

#main-content > div.searchbox-div > form > input[type=search]:nth-child(1) {
  min-width: 20%;
  width: 52%;
  min-height: 2.2vh;
  font-size: max(14px, 2vmin);
  background-color: rgba(231, 224, 224, 0);
  color: white;
}

#main-content > div.searchbox-div > form > input[type=search]:nth-child(1)::placeholder {
  color: white;
}


/* CURRENT CONDITIONS */

  .current-conditions-div {
    background-color: rgba(248, 9, 9, 0.267);
    width: 17%;
    font-size: 1.7vmin;
    justify-self: center;
    align-content: center;
    justify-content: center;
    gap: -50px;
    border-radius: 60px;
    border: 2px solid wheat;
    gap: 5px;
    color: white;
    padding: 15px;
    min-width: fit-content;
    min-height: fit-content;
  }
  .current-conditions-div > span:nth-child(1) {
  font-size: 30px;
  } 

  .current-conditions-div > span {
    width: 100%;
    height: 100%;
  }


  /* WEEKLY FORECAST */

  .weekly-forecast-div {
    grid-auto-flow: column;
  }

  .weekly-forecast-div > div {
    display: grid;
    align-self: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-bottom: 10px;

    font-size: 2vmin ;
    color: white;
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 10px 5px 10px 10px;
    height: 40%;
    width: 90%;
    min-width: 50%;
    min-height: 50%;
  }

  .weekly-forecast-div > div > span:nth-child(3)::before {
    content: 'Feels like: ' 
  }